@import "../../styles/variable.scss";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $footerBgColor;
  padding: 0.9375rem;
  color: $white;
  text-align: center;
  z-index: 999;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
}
