.header {
  background-color: #fff;
  padding: 0.9375rem 1.875rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  color: #21c87a;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
