.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 0.9375rem 1.875rem;
  box-shadow: 0rem 0.1875rem 0.625rem 0rem rgba(40, 48, 57, 0.08);
  color: #21c87a;
}

.header-container {
  max-width: 90%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
