@import "../../styles/variable.scss";

.container {
  max-width: 85rem;
  margin: 0 auto;
}
@media (max-width: 48rem) {
  .container {
    margin: 0 0.9375rem;
  }
}
.listing-wrapper {
  max-width: 61.25rem;
  margin: 3.75rem auto;
  padding: 2.5rem;
  background: $white;
  border: 0.0625rem solid $gray;
}

@media (max-width: 48rem) {
  .listing-wrapper {
    padding: 0.9375rem;
  }
}

.job-list {
  cursor: pointer;
  padding: 1.5rem 1.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  border-bottom: 0.0625rem solid transparent;
}

.job-list:hover {
  -webkit-box-shadow: 0rem 0rem 2.125rem 0.25rem rgba(33, 37, 41, 0.06);
  box-shadow: 0rem 0rem 2.125rem 0.25rem rgba(33, 37, 41, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.border-bottom {
  border-bottom-color: $primaryColor;
}

.state {
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
}

.error-msg {
  font-size: 1.75rem;
  padding: 1.5rem 1.25rem;
  background: $white;
  height: 100%;
  position: relative;
  border-bottom: 0.0625rem solid transparent;
  text-align: center;
}

.listing-title {
  font-size: 1.5rem;
  border-left: 0.25rem solid $primaryColor;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  background-color: $lightgreencolor;
  color: $black;
}
