.highlight {
  background-color: #fff000;
  color: #000;
}

.listing-container,
.search-list-wrapper {
  max-width: 71.25rem;
  margin: 0 auto;
}

.listing-container {
  padding-bottom: 5.625rem;
}
@media (max-width: 768px) {
  .container {
    margin: 0 0.9375rem;
  }
}

.search-wrapper {
  margin-top: 4.3125rem;
  padding: 3.75rem 0;
  background-color: rgba(2, 175, 116, 0.1);
}

.job-list {
  cursor: pointer;
  padding: 1.5rem 1.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  border: 0.0625rem solid #eff0f2;
  margin-bottom: 20px;
}

.job-list:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.01);
  transform: translateY(-0.5rem);
  border-color: #21c87a;
}

.state {
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
}

.error-msg {
  font-size: 1.75rem;
  padding: 1.5rem 1.25rem;
  background: #ffffff;
  height: 100%;
  position: relative;
  border-bottom: 0.0625rem solid transparent;
  text-align: center;
}

.listing-title {
  font-size: 24px;
  border-left: 4px solid #21c87a;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  background-color: #86eabb;
  color: #000;
}
